
<ion-view view-title="TexttoSpeech" class="mybg" >
  <ion-content>
      <div>
                <label class="item item-input" height="200" width="200">
                <span class="input-label">Enter text here..</span>
                <input type="text" ng-model="data1" >
                </label>
               
              <div ng-controller="myTos" align="center">
                  <button type="submit" ng-click="ttos()" class="button button-block button-positive" >TEXT TO SPEECH</button>
               </div>
             <div ng-controller="mySa" align="center">
                 <button type="submit" ng-click="checkSentiment()" class="button button-block button-positive">SENTIMENT ANALYSIS</button>
                 <center>
                <textarea  align="center" ng-model="sascore" >{{sascore}}</textarea>
                <textarea  align="center" ng-model="satype" >{{satype}}</textarea>
                </center>
             </div>
        </div>
      
  </ion-content>
</ion-view>
