<ion-view view-title="Register">
  <ion-content>
   <h1><center> Register </center></h1>
      <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="check2.username">
        </label>
          <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="check2.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="check2.password">
        </label>
          <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="check2.confirmpassword">
        </label>
        <label class="item">
          <button class="button button-block button-positive"type="submit">REGISTER</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

